POSTGRES_USER=taskuser
POSTGRES_PASSWORD=taskpass
POSTGRES_DB=taskdb

DB_HOST=db
DB_PORT=5432
DB_USER=taskuser
DB_PASSWORD=taskpass
DB_NAME=taskdb

BACKEND_PORT=8080
FRONTEND_PORT=80
FRONTEND_HOST_PORT=80

